/* src/App.css */


body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #0C1445;
  background-image: radial-gradient(circle, #2C3A8A, #1B2558, #0C1445);
  min-height: 100vh; /* Asegura que el gradiente cubra toda la pantalla */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App header {
  width: 100%;
  margin-bottom: 40px;
  padding: 40px 20px 0;
  font-family: 'Cinzel', serif; /* Aplica la nueva fuente */
  color: #EAE0D5; /* Un color hueso o pergamino */
  text-shadow: 0 0 10px #C6AC8F, 0 0 20px #C6AC8F; /* Crea un resplandor dorado */
}

