.element {
  background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #C6AC8F  ;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #C6AC8F;
    padding: 16px;
    width: 320px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #EAE0D5;
    
  }
  
  .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .spellName {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
    color: #EAE0D5;
  }
  
  