
.detailView {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;  
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0C1445;
  background-image: radial-gradient(circle, #2C3A8A, #1B2558, #0C1445);  padding: 20px;
  box-sizing: border-box; 
}
.backButton {
  background-color: rgba(255, 255, 255, 0.05);
  color: #EAE0D5;
  border: 1px solid #C6AC8F;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 3px 3px 8px #C6AC8F; 
  cursor: pointer;
}

.backButton:hover {
  color: #FFFFFF;
  border-color: #FFF;
  box-shadow: 0 0 15px #C6AC8F;
  transform: translateY(-3px);
}